.festival-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .festival-modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.festival-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 30px;      /* 限制按鈕寬度 */
    height: 30px;     /* 限制按鈕高度 */
    display: flex;    /* 置中 X 符號 */
    align-items: center;
    justify-content: center;
    line-height: 1;   /* 調整 X 符號的行高 */
    padding: 0;
}
  
  .festival-modal-close {
    text-align: right;
  }
  
  .festival-pronunciation {
    font-size: 0.8em;
    color: #666;
    margin-left: 10px;
  }
  
  
  .festival-modal-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
  }
  
  .festival-pronunciation-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .festival-pronunciation-text {
    font-size: 22px;
    font-weight: bold;
  }
  
  .festival-play-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .festival-interpretation-container {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    align-items: flex-start;
}

.festival-interpretation-label {
    background-color: #2d92c1;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 18px;
    white-space: nowrap;
    width: 100px;
    text-align: center;
    display: inline-block;
}

.festival-interpretation-text {
    flex: 1;
    line-height: 1.6;
    color: #787878;
    font-size: 18px;
}

.festival-card {
    cursor: pointer;
}

.festival-row-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }

  .festival-subtitle {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    font-size:14px;
    font-weight: bold;
  }

  .festival-attribution {
    text-align: right;
    color: #666;
    font-size: 14px;
    margin-top: 20px;
  }


  .food-header-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.food-image-container {
    flex: 0 0 200px;
}

.food-modal-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.food-header-content {
    flex: 1;
}