 .phrase-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .phrase-modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 40%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.phrase-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 30px;      /* 限制按鈕寬度 */
    height: 30px;     /* 限制按鈕高度 */
    display: flex;    /* 置中 X 符號 */
    align-items: center;
    justify-content: center;
    line-height: 1;   /* 調整 X 符號的行高 */
    padding: 0;
}
  
  .phrase-modal-close {
    text-align: right;
  }
  

  
  .phrase-modal-title {
    font-size: 22px;
    font-weight: bold;
  }
  
  .phrase-pronunciation-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .phrase-pronunciation-text {
    font-size: 22px;
    font-weight: bold;
  }
  
  .phrase-play-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .phrase-interpretation-container {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    align-items: flex-start;
}

.phrase-interpretation-label {
    background-color: #2d92c1;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 18px;
    white-space: nowrap;
}

.phrase-interpretation-text {
    flex: 1;
    line-height: 1.6;
    color: #787878;
    font-size: 18px;
}