.content {
    height: 100px;
    border: 1px solid #000;
    margin: 0 8px;
}

.phaseCard {
    width: 100%;
    background-color: #ffffff;
    font-size:1.2 rem;
}

.phaseTitle {
    font-size: 16px;
    font-weight: 500;
    /* overflow:hidden; white-space: nowrap; text-overflow: ellipsis; */
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.sentenceContent {
    font-size: 14px;
    /* overflow:hidden; white-space: nowrap; text-overflow: ellipsis; */
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

ul.pagination li a {
    text-align: center;
    width: 35px;
    border-radius: 5px;
    color: #000;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    ;
}

.lastbutton {
    width: 35px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    ;
}

ul.pagination li a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #62BAC6;
    border-color: rgba(0, 0, 0, 0);
}

ul.pagination li a.active {
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
}

.page-item.active .page-link {
    border-radius: 5px 5px 5px 5px;
    z-index: 1;

    color: #fff;

    background-color: #62BAC6;

    border-color: rgba(0, 0, 0, 0);

}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}


/* Dropdown Button */
.dropdown {
    position: relative;
    padding: 0;
    width: 150px;
    height: 3.7em;
    border-radius: 30px;
    background-color: #ADD9E6;
    border-style: none;
}

.dropdown>.dropBtn {
    padding: 0;
    width: 150px;
    height: 52px;
    border-radius: 30px;
    background-color: #ADD9E6;
    border-style: none;
    font-size: 20px;
}


.dropdown-content {
    display: none;
    position: absolute;
    top:36px;
    width: 100%;
    height: 500px;
    min-width: 100%;
    /*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    background-image: url("./static/img/phrase_dropdown.svg");
    background-size: Contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: 136px;
    /* 設定每個欄位的寬度為50% */
    padding: 5px;
    padding-top: 25px;
    box-sizing: border-box;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    width: 140px;
    text-decoration: none;
    display: block;
}

label {
    display: block;
    color: black;
    font-size: 16px;
    margin: 5px 0;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ADD9E6;
}

.menuTitle {
    font-size: 22px;
    font-family: 微軟正黑體;
    font-weight: 400;
    color: #000;
    
}

.menuText {
    font-size: 22px;
    font-family: 微軟正黑體;
    font-weight: 400;
    color: #000;
}

.selectionText {
    font-size: 20px;
    font-family: 微軟正黑體;
    font-weight: 500;
    color: #000;
    text-align: left;
}

.Title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.SearchResultTitle {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 0;
}

.selected-page{
        background-color: #84C6DA;
    }


    ul.pagination li a.wide-link {
        width: 90px; /* 設置你想要的寬度 */
      }
    
        ul.pagination li a {
            text-align: center;
            width: 48px;
            border-radius: 5px;
            color: #000;
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            ;
        }
    
    
        .lastbutton {
            width: 35px;
            border-radius: 5px;
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            ;
        }
    
        ul.pagination li a:hover {
            background-color: rgba(0, 0, 0, 0);
            color: #2D92C1;
            border-color: rgba(0, 0, 0, 0);
        }
    
        ul.pagination li a.active {
            border-radius: 5px;
            border-color: rgba(0, 0, 0, 0);
        }
    
        .page-item.active .page-link {
            border-radius: 5px 5px 5px 5px;
            z-index: 1;
            color: #fff;
            background-color: #2D92C1;
            border-color: rgba(0, 0, 0, 0);
    
        }
    
        a,
        a:hover {
            color: inherit;
            text-decoration: none;
        }
        .languageRadio{
            width:50em;
        }
        .form-check-input[type=radio] {
            margin-top: 1rem;
        }