.read-header {
  display: flex;
  flex-direction: column;
}
.read-mode-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.mode-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode-selection span {
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
letter-spacing: -0.18px;
}


.mode-selection label {
  color: var(--Dark-Grey, #3A3A3A);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
padding: 3px;
align-items: center;
gap: 5px;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none; /* 移除瀏覽器默認樣式 */
  width: 24px;
  height: 24px;
  background-image: url("/src/assets/Radio Symbol black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none; /* 移除邊框 */
  cursor: pointer;
}

input[type="radio"]:checked {
  background-image: url("/src/assets/Radio Symbol.svg");
}

input[type="radio"]:hover {
  filter: brightness(1.2); /* 滑鼠懸停時增加亮度 */
}

.mode-option {
  color: gray;
}

.mode-option.active {
  color: green;
  font-weight: bold;
}


.font-size-control {
  display: flex;
  gap: 17px;
  align-items: center; /* 垂直置中 */
}

.font-size-button {
  background-color: #dfeaf2;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.font-size-button:hover {
  background-color: #679bb3;
}

.font-size-button.selected {
  background-color: #2D92C1;
  color: w;
}
.font-size-button.小 {
  width: 40px;
  height: 40px;
  font-size: 18px;
}

.font-size-button.中 {
  width: 50px;
  height: 50px;
  font-size: 22px;
}

.font-size-button.大 {
  width: 60px;
  height: 60px;
  font-size: 26px;
}
