.read-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;

  height: 100vh; /* 填滿視窗高度 */
  width: 100%; /* 填滿視窗寬度 */
  box-sizing: border-box; /* 包括內邊距和邊框在寬高計算內 */

  
}

.input-box {
  padding: 22px;
  align-self: stretch;
  flex: 1; /* 填滿剩餘空間 */
  min-height: 260px;
  margin: 30px 0px 0px 0px;

  font-size: 18px;
  resize: none; /* 禁用拖動調整大小 */
  overflow-y: auto;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #DEDEDE;
  box-shadow: inset 0 0 0 8px #f2f2f2; /* 模擬內層淺灰色粗邊框 */
}

.remaining-chars {
  color: #2d3648;
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}

/* 字體大小樣式 */
.input-box.小 {
  font-size: 18px;
}

.input-box.中 {
  font-size: 22px;
}

.input-box.大 {
  font-size: 26px;
}

.audio-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:flex-start;
  gap: 10px;
}

.generate-audio-button {
  display: flex;
  width: 152px;
  height: 40px;
  padding: 14px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, border-color 0.3s;

  color: #fff;
  text-align: center;
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}

/* 按鈕啟用狀態（藍色） */
.generate-audio-button.enabled {
  background-color: #2d92c1; /* 藍色背景 */
  color: white;
  cursor: pointer;
}

.generate-audio-button:disabled {
  background-color: #919191; /* 禁用狀態背景 */
  color: #1f1f1f; /* 禁用狀態文字顏色 */
  cursor: not-allowed; /* 禁用狀態鼠標樣式 */
}

.generate-audio-button.processing {
  background-color: #e0e0e0; /* 處理中背景色 */
  cursor: not-allowed; /* 禁止操作狀態 */
  color: var(--Primary-Black, #424242);
}

.generate-audio-button:hover {
  background-color: #2d92c1;
  color: white;
}

.loading-icon {
  width: 24px; /* 圖示寬度 */
  height: 24px; /* 圖示高度 */
  margin-left: 8px; /* 与文字间距 */
  animation: spin 1s linear infinite; /* 旋轉動畫 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.processing-container {
  display: flex;
  align-items: center; /* 垂直对齐 */
}

.audio-player {
  border: 2px solid red; /* 調試邊框 */
  width: 100%;
}

audio {
  margin-top: 0px;
  margin-bottom: 0px;
}
