/* 整個頁面佔滿視窗 */
.download-page {
    height: 100%;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.5); /* 淺灰色透明背景 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* iframe 滿版顯示 */
  .pdf-viewer {
    width: 100%;
    height: 100%;
    border: none; /* 去掉邊框 */
  }
  