/* 整個頁面佔滿視窗 */
.download-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.5); /* 淺灰色透明背景 */
 
  }
  
  /* iframe 滿版顯示 */
  .pdf-viewer {
    width: 100%;
    height: 100%;
    border: none; /* 去掉邊框 */
  }

  .error-message {
    text-align: center;
    padding: 20px;
  }
  
  .error-message button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ed6f7e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .error-message button:hover {
    background-color: #d45d6c;
  }
  