/* 背景覆蓋層 */
.register-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .register-modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
  
    width: 50%;
    max-width: 1200px; /* 最大寬度 */
    height: 80%; /* 最大高度 */
    padding: 16px;
    flex-shrink: 0;
    box-sizing: initial !important;
  
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.14);
  }
  
  .register-modal-header,
  .verification-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 136.364% */
  }
  
  /* 表單樣式 */
  .register-modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  
  .register-modal-form input[name="email"],
  .register-modal-form input[name="password"],
  .register-modal-form input[name="confirmPassword"],
  .register-modal-form input[name="lastName"],
  .register-modal-form input[name="firstName"],
  .register-modal-form input[name="organization"],
  .register-modal-form input[name="professionOther"],
  .register-modal-form input[name="customPurpose"]{
    padding: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--system-btn-outline-d, #a6a6a6);
  }

  .checkbox-group {
    display: flex;
    gap: 12px;
  }
  
  .checkbox-group label {
    display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px;

  color: var(--Body-text-color, #4f4f4f);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 28.8px */
  }
  
  .checkbox-group input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
  }

  /* 送出按鈕 */
  .register-submit-button {
    align-self: flex-end; /* 靠右對齊 */
    width: 70px;
    height: 40px;
    background-color: #2d92c1;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 116.667% */
  }
  
  .register-submit-button:hover {
    background: #0056b3;
  }
  
  /* 信箱驗證視窗 */
  .verification-modal-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
  
    width: 50%;
    max-width: 1200px; /* 最大寬度 */
    
    min-height: 120px;
    padding: 16px;
    flex-shrink: 0;
    box-sizing: initial !important;
  
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.14);
  }
  .verification-modal-content p {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
  
    color: var(--gray-1100, #1a1a1a);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  
  .resend-button {
    align-self: center;
    width: 40%;
    height: 40px;
    background-color: #2d92c1;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 116.667% */
  }
  
  .resend-button:disabled {
    background-color: #A6A6A6;
    color: #fff;
    cursor: not-allowed;
  }
  