.resource-page {
  padding: 40px 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1200px) {
  .resource-page {
    padding: 30px 40px;
  }
}

@media (max-width: 768px) {
  .resource-page {
    padding: 20px;
  }
}