.transcript-content {
  display: flex;
  flex-direction: column;
  height: 570px; /* 填滿視窗高度 */
  background-color: white;
  border-radius: 13px;
  border: 1px solid #ddd; /* 外部邊框 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 30px 0px;
}

.tabs {
  display: flex;
  height: 48px;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  flex-shrink: 0;
}

.tab-button {
  flex: 1;
  background: #fafafa;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  border-bottom: 3px solid transparent; /* 預設透明 */
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08),
    0px 2px 1px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  font-size: 20px;
  color: black;
  font-weight: bold;
  transition: box-shadow 0.3s ease; /* 添加動畫效果 */
}

.tab-button:hover {
  background-color: #2d92c1;
}

.tab-button.active {
  border-bottom: 2px solid #2d92c1; /* 點擊後下邊框變藍 */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px -3px 0px 0px #2d92c1 inset;
  align-self: stretch;
  transition: box-shadow 0.3s ease; /* 添加陰影過渡動畫 */
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* 填滿剩餘空間 */
  background-color: #ffffff;
}

.content-display {
  flex: 1; /* 占滿剩餘空間 */
  min-height: 200px;
  padding: 0px 22px;
  border-radius: 8px;
  margin: 0px 10px;
  border: 1px solid #ddd; /* 內容區邊框 */
  overflow-y: auto;
}

.content-display.non-editable {
  background-color: #c7c7c7; /* 灰色背景 */
}

.content-display.editable {
  background-color: #ffffff; /* 白色背景 */
}

/* 字體大小樣式 */
.content-display.小 {
  font-size: 18px;
}

.content-display.中 {
  font-size: 22px;
}

.content-display.大 {
  font-size: 26px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* 靠右對齊 */
  gap: 10px;
  margin-bottom: 10px;
}

.copy-button {
  width: 152px;
height: 40px;
  margin: 10px;
  padding: 8px 16px;
  background-color: #2d92c1;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.copy-button:disabled {
  background-color: #919191; /* 禁用狀態背景 */
  color: #1f1f1f; /* 禁用狀態文字顏色 */
  cursor: not-allowed; /* 禁用狀態鼠標樣式 */
}

.copy-button.copied {
  background-color: #DFEAF2;
  color: #000000;
  border-color: #017ab1;
  cursor: not-allowed; /* 禁用狀態鼠標樣式 */
}


.feedback-button {
  width: 152px;
height: 40px;
  background-color: white;
  color: #2d92c1;
  border: 1px solid #2d92c1;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.feedback-button:hover {
  background-color: #2d92c1;
  color: white;
}
