.transcript-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 填滿視窗高度 */
  background-color: white;
  border-radius: 13px;
  border: 1px solid #ddd; /* 外部邊框 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 30px 0px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 50px; /* 固定 tabs 的高度 */
}

.tab-button {
  flex: 1;
  background: none;
  border: 1px solid #ddd; /* tab 的邊框 */
  border-bottom: 3px solid transparent; /* 預設透明 */
  border-radius: 5px 5px 13px 13px; /* 上圓角 */
  cursor: pointer;
  font-size: 20px;
  color: black;
  font-weight: bold;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1); /* 陰影效果 */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.tab-button:hover {
  background-color: #017ab1;
}

.tab-button.active {
  border-color: #017ab1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 陰影變大 */
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* 填滿剩餘空間 */
}

.content-display {
  flex: 1; /* 占滿剩餘空間 */
  min-height: 200px;
  padding: 10px;
  border-radius: 8px;
  margin: 0px 10px;
  border: 1px solid #ddd; /* 內容區邊框 */
  overflow-y: auto;
}

/* 字體大小樣式 */
.content-display.小 {
  font-size: 14px;
}

.content-display.中 {
  font-size: 18px;
}

.content-display.大 {
  font-size: 22px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* 靠右對齊 */
  gap: 10px;
  margin-bottom: 10px;
}

.copy-button {
  margin: 10px;
  padding: 8px 16px;
  background-color: #017ab1;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.copy-button.copied {
  background-color: white;
  color: #017ab1;
  border-color: #017ab1;
}

.copy-button:hover {
  background-color: #679bb3;
}

.feedback-button {
  background-color: white;
  color: #017ab1;
  border: 1px solid #017ab1;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.feedback-button:hover {
  background-color: #017ab1;
  color: white;
}
