.search-results {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .results-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  
  .results-row {
    display: table-row;
  }
  
  .results-row.header {
    font-weight: bold;
    background-color: #f5f5f5;
  }
  
  .results-row > div {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .content {
		height: 100px;
		border: 1px solid #000;
		margin: 0 8px;
	}

	a,
	a:hover {
		color: inherit;
		text-decoration: none;
	}


	/* Dropdown Button */
	.dropdown {
		position: relative;
		padding: 0;
		width: 150px;
		height: 3.7em;
		border-radius: 30px;
		background-color: #ADD9E6;
		border-style: none;
	}

	.dropdown>.dropBtn {
		padding: 0;
		width: 150px;
		height: 52px;
		border-radius: 30px;
		background-color: #ADD9E6;
		border-style: none;
		font-size: 20px;
	}


	.dropdown-content {
		display: none;
		position: absolute;
        top:36px;
		width: 100%;
		height: 500px;
        min-width: 100%;
		/*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
		z-index: 1;
		background-image: url("./static/img/phrase_dropdown.svg");
		background-size: Contain;
		background-position: bottom;
		background-repeat: no-repeat;
	}

	.column {
		float: left;
		width: 136px;
		/* 設定每個欄位的寬度為50% */
		padding: 5px;
		padding-top: 25px;
		box-sizing: border-box;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		color: black;
		padding: 5px 10px;
		width: 140px;
		text-decoration: none;
		display: block;
	}

	label {
		display: block;
		color: black;
		font-size: 16px;
		margin: 5px 0;
	}


	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {
		background-color: #ddd;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
		background-color: #ADD9E6;
	}

	.menuTitle {
		font-size: 22px;
		font-family: 微軟正黑體;
		font-weight: 400;
		color: #000;
		
	}

	.menuText {
		font-size: 22px;
		font-family: 微軟正黑體;
		font-weight: 400;
		color: #000;
	}

	.selectionText {
		font-size: 20px;
		font-family: 微軟正黑體;
		font-weight: 500;
		color: #000;
		text-align: left;
	}

	.Title {
		font-size: 2.5rem;
		font-weight: bold;
		margin-bottom: 0;
	}
	.SearchResultTitle {
		font-size: 2.3rem;
		font-weight: bold;
		margin-bottom: 0;
	}
    .modal-content {
			border: solid;
			border-width: 4px;
			border-color: #84C6DA;
			border-radius: 20px;
			
			min-width: 800px; 
			min-height: 200px;
			
		}

		.modal-header {
			border: none;
		}

		.modal-close{
			text-align: right;
			margin-top: 10px;
			margin-right: 10px;
			padding-top: 0px;
		}

		.modal-detail{
			/* 上右下左 */
			padding: 0px 20px 20px 20px;
		}
        .popupTitle {
		font-size: 2rem; font-weight: bold; margin-bottom: 0;
	}
	.selected-page{
			background-color: #84C6DA;
		}

	.selected-page {
		background-color: #84C6DA;
	}

	.content {
		height: 100px;
		border: 1px solid #000;
		margin: 0 8px;
	}

	.imgBorder {
		overflow: hidden;
		width: 100%;
		height: 60px;
	}

	.imgSize {
		width: 100%;
		height: 160px;
		object-fit: cover;
	}

	.imgTitle {
		font-size: 12px;
		font-family: 微軟正黑體;
		/* font-weight: bold; */
		/* overflow:hidden; white-space: nowrap; text-overflow: ellipsis; */
		-webkit-line-clamp: 2;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		white-space: normal;
	}

	.sentenceCard {
		width: 100%;
		background-color: #dfeaf2;
    	border-bottom:  1px solid #eaf4f9;
    	color:#000
	}

  .titleCard {
    height:50px;
		width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
		background-color: #2D92C1;
    color:#fff;
    font-size: 18px;
		font-weight: bold;
    border-radius: 8px 8px 0px 0px;
	}


	.sentenceTitle {
		font-size: 16px;
		font-weight: bold;
		/* overflow:hidden; white-space: nowrap; text-overflow: ellipsis; */
		-webkit-line-clamp: 1;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		white-space: normal;
	}

	.sentenceContent {
		font-size: 16px;
    font-family: 微軟正黑體;
		/* overflow:hidden; white-space: nowrap; text-overflow: ellipsis; */
		-webkit-line-clamp: 1;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		white-space: normal;
	}

  ul.pagination li a.wide-link {
    width: 90px; /* 設置你想要的寬度 */
  }

	ul.pagination li a {
		text-align: center;
		width: 48px;
		border-radius: 5px;
		color: #000;
		border-color: rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0);
		;
	}


	.lastbutton {
		width: 35px;
		border-radius: 5px;
		border-color: rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0);
		;
	}

	ul.pagination li a:hover {
		background-color: rgba(0, 0, 0, 0);
		color: #2D92C1;
		border-color: rgba(0, 0, 0, 0);
	}

	ul.pagination li a.active {
		border-radius: 5px;
		border-color: rgba(0, 0, 0, 0);
	}

	.page-item.active .page-link {
		border-radius: 5px 5px 5px 5px;
		z-index: 1;
		color: #fff;
		background-color: #2D92C1;
		border-color: rgba(0, 0, 0, 0);
		cursor: pointer;

	}
	.page-link:hover {
		background-color: rgba(0, 0, 0, 0);
		color: #2D92C1;
		border-color: rgba(0, 0, 0, 0);
		cursor: pointer;  /* Add cursor pointer */
	}

	a,
	a:hover {
		color: inherit;
		text-decoration: none;
	}
	.languageRadio{
		width:50em;
	}
	.form-check-input[type=radio] {
		margin-top: 1rem;
	}
	.pagination-container {
		display: flex;
		justify-content: center;
		position: relative;
		padding: 0 120px;  /* Make space for back/next buttons */
	}
	
	.pagination-container {
		display: flex;
		justify-content: center;
	}
	
	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
	}
	
	.page-numbers {
		display: flex;
		gap: 5px;
	}
	
	.back-button,
	.next-button {
		display: flex;
		align-items: center;
	}
	
	.invisible {
		visibility: hidden;
	}
	
	.page-link {
		border: none;
		padding: 0.5rem 1rem;
	}