.translate-page {
  padding: 60px;
  display: flex;
  align-items: center;
  height: 100vh;
}

.translate-button {
  width: 160px;
  height: 40px;
  display: inline-flex;
  margin-left: 15px;
  margin-right: 15px;
  padding: 4px 14px;
  align-items: center;

  border-radius: 8px;
  background: var(--primary-blue, #2d92c1);

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  /* 背景圖片已移至 JS 中處理 */
}
.translate-button:hover {
  background: #a6bdcd;
  /* 背景圖片已移至 JS 中處理 */
}