.translate-page {
  padding: 60px;
  display: flex;
  align-items: center;
  height: 100vh;
}

.translate-button {
  width: 160px;
  height: 40px;
  display: inline-flex;
  margin-left: 15px;
  margin-right: 15px;
  padding: 4px 14px;
  align-items: center;

  border-radius: 8px;
  background: var(--primary-blue, #2d92c1);

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  background-image: url("src/assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* 箭頭距右邊 16px */
  background-size: 24px 24px; /* 設定箭頭大小 */
}
.translate-button:hover {
  background: #a6bdcd;
  background-image: url("src/assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* 箭頭距右邊 16px */
  background-size: 24px 24px; /* 設定箭頭大小 */
}