@font-face {
    font-family: 'NotoSansTC'; /* 使用您指定的字體名稱 */
    src: url('/src/assets/NotoSansTC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NotoSansTC', Arial, sans-serif; /* 將字體應用於 body */
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 保證頁面填滿整個視窗 */
}

.maincontent {
    display: grid;
    grid-template-columns: 230px 1fr; /* 左側Sidebar寬度固定，右側MainContent填滿剩餘空間 */
    flex: 1;
}

.main-content {
    padding: 20px; /* 調整間距 */
}

