body {
    font-family: Arial, sans-serif;
    margin: 0; /* 保證頁面無白邊 */
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 保證頁面填滿整個視窗 */
}

.content {
    display: grid;
    grid-template-columns: 230px 1fr; /* 左側Sidebar寬度固定，右側MainContent填滿剩餘空間 */
    flex: 1;
}

.main-content {
    padding: 20px; /* 調整間距 */
}

