/* Main Content Styling */
.main-content {
  min-height: 100vh;
  background-color: #f5f7fa;
  
}

/* Hero Section */
.hero-section {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  position: relative;
  overflow: hidden;
}
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  text-align: left;
  line-height: 0.8; /* 調整行距使其更緊湊 */
}

.hero-text h2 {
  font-size: 2rem;
  font-weight: bold;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-text p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* Search Bar with Icon */
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 1rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem; /* 調整內距以便顯示圖示 */
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 0 auto;
}

.search-icon {
  position: absolute;
  right: 1rem;
  color: #cbd5e0;
}

.tag-buttons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: #40A299;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #3695A6;
}

/* Content Grid */
.content-section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1.5rem;
  animation: fadeIn 0.5s ease-out forwards;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: stretch;
}

.section-title {
  color: #40A299;
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.info-list {
  list-style-type: disc; /* 使用圓形的列點符號 */
  padding-left: 1.5rem;  /* 調整左側縮排，讓符號更明顯 */
  padding: 2;
  margin: 0;
}

.info-list li {
  padding: 0.5rem 0;
  color: #000000;
}

.info-list li:last-child {
  border-bottom: none;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
